/* ===== YOUR CSS GOES HERE ===== */
/* ===== START BY IMPORTING YOUR FONTS ===== */ 
/* ===== NEXT WRITE GLOBAL STYLES, THEN USE MEDIA QUERIES FOR LAYOUT/STYLE ADJUSTMENTS ===== */

/* ===== STARTER CSS BELOW FOR body AND p IS JUST AN EXAMPLE... YOU MAY DELETE IT ===== */
@import url('https://fonts.googleapis.com/css2?family=Rakkas&family=Roboto:wght@300;400;700&display=swap');
body {
    background: #BBE8F2;
    padding: .5rem 1rem;
}
p {
    font-size: 1em;
    font-family: Roboto, Helvetica, sans-serif;
}
h1 {
    font-size: 5em;
    font-family: Rakkas, Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    color: #794b1a;
    background-color: #BBE8F2;
    padding: 0rem 1rem;
    margin-bottom: 1rem;
}

h2 {
    font-family: Rakkas, Georgia, 'Times New Roman', Times, serif;
    margin-bottom: .25rem;
    color:#794b1a;
    padding-left: 1rem;
}

div.welcome h2 {
    font-family: Rakkas, Georgia, 'Times New Roman', Times, serif;
    color: white;
    margin: 0;
    padding: .5rem 0rem;
    font-size: 2rem;
}

b {
    font-family: Rakkas, Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    letter-spacing: 1px;
    padding-bottom: .5rem;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin: 0px;
  }
  
  li {
    font-size: 1rem;
    background: #E5BDC6;
  }

  li:hover {
    background: #c8909c;
  }

  li a {
    display: block;
    padding: 1em;
    text-decoration: none;
    font-family: Rakkas, Georgia, 'Times New Roman', Times, serif;
    float: right;
    color:#794b1a;
  }

ul.sources, ul.documents {
    justify-content: flex-start;
    gap: 2px;
    padding-left: 1rem;
}

header {
    display: block;
    width: 100%;
}

div #boathouse {
    display: none;
    background-color: #E5BDC6;
    padding: 1rem;
}

label {
    font-size: 1em;
    font-family: Roboto, Helvetica, sans-serif;
}


#map { 
    height: 600px;
    min-width: 800px;
    display: block;
    align-self: center;
}

button {
    background-color: #CAEBFF;
    color: #794b1a;
    margin: .25rem;
    margin-left: 0rem;
    border: solid 1px #794b1a;
    border-radius: .5rem;
    font-family: Roboto, Helvetica, sans-serif;
}

div.main {
    display: flex;
}

div.welcome {
    background: #794b1a;
    color: white;
    padding: 2rem 3rem;
    margin: 0rem 1rem;
}

div.leaflet-popup-content {
    font-family: Roboto, Helvetica, sans-serif;
}

.easy-button-button {
    display: block !important;
}
  
.tag-filter-tags-container {
    left: 30px;
}
